<ul nz-menu [nzMode]="'inline'">
  <li nz-menu-item><i nz-icon type="appstore"></i>总览</li>
  <li nz-submenu>
    <span title><i nz-icon type="mail"></i> Navigation One</span>
    <ul>
      <li nz-menu-item>M1</li>
      <li nz-menu-item>M2</li>
    </ul>
  </li>
  <li nz-submenu>
    <span title><i nz-icon type="mail"></i> Navigation One</span>
    <ul>
      <li nz-menu-group>
        <span title>Item 1</span>
        <ul>
          <li nz-menu-item>Option 1</li>
          <li nz-menu-item>Option 2</li>
        </ul>
      </li>
    </ul>
  </li>
</ul>